*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "inter", sans-serif;
  font-size: 14px;
}

@media screen and (max-width : 768px) {
  .navbar {
    padding: 1rem 1rem;
  }

  .jumbotron {
    padding: 6rem 1rem 10rem 1rem;
  }

  main .main-content {
    padding: 4rem 1rem;
  }
}

/* navbar */
.navbar {
  padding: 1rem 4rem;
  background-color: white;
  border-bottom: solid 1px #fce7f3;
}

/* jumbotron */
.jumbotron {
  background: linear-gradient(to bottom right, #db2777, #f43f5e, #be185d);
  padding: 6rem 6rem 10rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.abstract-shape-1 {
    position: absolute;
    top: 1;
    left: 0;
    width: 16rem; /* 256px */
    height: 16rem; /* 256px */
    background-color: #ffffff;
    opacity: 0.05;
    border-radius: 9999px; /* rounded-full */
    transform: translate(-50%, -50%); /* -translate-x-1/2 -translate-y-1/2 */
}

.abstract-shape-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24rem; /* 384px */
    height: 24rem; /* 384px */
    background-color: #5b21b6; /* purple-900 */
    opacity: 0.10;
    border-radius: 9999px; /* rounded-full */
    transform: translate(0%, 33%); /* translate-x-1/3 translate-y-1/3 */
}

.jumbotron-judul {
  color: white;
  font-size: 4rem;
  font-weight: bolder;
}

.jumbotron-subjudul {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.jumbotron-subjudul strong{
  color: pink;
}

.jumbotron p {
  color: white;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.jumbotron .btn {
  background-color: #34d399;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  transition-property: all;
  transition-duration: 150ms;
}

.jumbotron .btn:hover {
  transform: scale(105%);
  border-color: white;
  color: white;
}

/* platform nomor 1 */
.jumbotron h4 {
  color: white;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 2rem;
  border-radius: 999px;
  text-align: center;
}

/* main */
main {
  margin-top: -10rem;
}

main .main-content {
  padding: 4rem 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-around;
}

/* main card */
main .main-content .card {
  border-radius: 14px;
  border: none;
}

main .main-content .card .materi-mendalam {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-top: solid 5px #ec4899;
  border-radius: 10px;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

main .main-content .card .card-body .icon-materi-mendalam {
  font-size: 2rem;
  color: #db2777;
  margin-bottom: 1rem;
  opacity: 80%;

  background-color: #fce7f3;
  border-radius: 10px;
  max-width: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-block: 1rem;
}

main .main-content .card .simulasi-digital {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-top: solid 5px #a855f7;
  border-radius: 10px;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

main .main-content .card .card-body .icon-simulasi-digital {
  font-size: 2rem;
  color: #9333ea;
  margin-bottom: 1rem;
  opacity: 80%;

  background-color: #f3e8ff;
  border-radius: 10px;
  max-width: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-block: 1rem;
}

main .main-content .card .gamifikasi-seru {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-top: solid 5px #6366f1;
  border-radius: 10px;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

main .main-content .card .card-body .icon-gamifikasi-seru {
  font-size: 2rem;
  color: #4f46e5;
  margin-bottom: 1rem;
  opacity: 80%;

  background-color: #eef2ff;
  border-radius: 10px;
  max-width: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-block: 1rem;
}

main .main-content .card .card-body h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

main .main-content .card .card-body p {
  font-size: 1rem;
  color: #6b7280;
}

/* footer */
footer {
  background-color: white;
  padding: 2rem 2rem;
  text-align: center;
  margin-top: 4rem;
}
