*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "inter", sans-serif;
  font-size: 14px;
  background-color: #f8fafc;
}

/* main container */
/* main */
main .main-content {
  padding: 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-around;
}

@media screen and (max-width : 768px) {
  main .main-content{
    padding: 2rem 1rem;
    gap: 2rem;
  }

  main .main-content p{
    font-size: 12px;
  }

  main .main-content h2{
    font-size: 14px;
  }

  main .main-content form label{
    font-size: 12px;
  }
}