*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "inter", sans-serif;
  font-size: 14px;
  background-color: #f8fafc;
}

/* navbar */
.navbar {
  padding: 1rem 4rem;
  background-color: white;
  border-bottom: solid 1px #fce7f3;
}

/* main */
main .main-content {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.tombol-kembali a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
}
.tombol-kembali a:hover{
    color: #DB2777;
}

/* nav tab */
#myTab{
    border-color: #DB2777;
}

#materi-tab, #infografis-tab, #video-edukasi-tab, #kuis-tab {
    color: #6b7280;
}

.nav-link.active {
    border-top-color: #DB2777 !important;
    border-left-color: #DB2777 !important;
    border-right-color: #DB2777 !important;

    color: #DB2777 !important;
    font-weight: bold;
}

/* article */
article {
    border: solid 1px #fce7f3;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

article .card{
    background-color: #fdf2f8;
    border: none;
    border-left: 4px solid #DB2777;
    margin-bottom: 2rem;
    border-radius: 10px;
}

article .card .card-body h3 {
    color: #c11965;
    font-size: 16px;
    font-weight: bold;
}

article .card .card-body p {
    font-size: 13px;
}

.tab-content .tab-pane {
    text-align: justify;
    line-height: 1.5rem;
}

.tab-content .tab-pane p, ul li{
    color: #475569;
    font-weight: normal;

}

.tab-content .tab-pane ol{
    font-weight: bold;
}

.tab-content .tab-pane h2{
    color: #0F172A;
    font-size: 1.2rem;
    font-weight: bold;
}

/* footer */
footer {
  background-color: white;
  padding: 2rem 2rem;
  text-align: center;
  margin-top: 4rem;
}


/* tambahan responsifitas */
@media screen and (max-width : 768px) {
  .navbar {
    margin: 0px;
    padding: 0.5rem;
  }

  main .main-content {
    padding: 4rem 1.5rem;
    gap: 2rem;
  }

  section .card{
    min-width: 18rem;
    }
    .nav-link {
        max-width: 90px;
        padding: 10px;
        font-size: 12.5px;
    }

    #infografis-tab, #kuis-tab{
        padding-block: 19px;
    }
}

