*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "inter", sans-serif;
  font-size: 14px;
  background-color: #f8fafc;
}

/* navbar */
.navbar {
  padding: 1rem 4rem;
  background-color: white;
  border-bottom: solid 1px #fce7f3;
}

/* main */
main .main-content {
    padding: 4rem 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.tombol-kembali a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
}
.tombol-kembali a:hover{
    color: #DB2777;
}

/* nav tab */
#myTab{
    border-color: #DB2777;
}

#materi-tab, #infografis-tab, #video-edukasi-tab, #kuis-tab {
    color: #6b7280;
}

.nav-link.active {
    border-top-color: #DB2777 !important;
    border-left-color: #DB2777 !important;
    border-right-color: #DB2777 !important;

    color: #DB2777 !important;
    font-weight: bold;
}

/* article */
article {
    border: solid 1px #fce7f3;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

article .card{
    background-color: #fdf2f8;
    border: none;
    border-left: 4px solid #DB2777;
    margin-bottom: 2rem;
    border-radius: 10px;
}

article .card .card-body h3 {
    color: #c11965;
    font-size: 16px;
    font-weight: bold;
}

article .card .card-body p {
    font-size: 13px;
}

.tab-content .tab-pane {
    text-align: justify;
    line-height: 1.5rem;
}

.tab-content .tab-pane p, ul li{
    color: #475569;
    font-weight: normal;

}

.tab-content .tab-pane ol{
    font-weight: bold;
}

.tab-content .tab-pane h2{
    color: #0F172A;
    font-size: 1.2rem;
    font-weight: bold;
}
.sub-title {
    color: #0F172A;
    font-size: 0.9rem;
    font-weight: bold;
}

/* infografis */
.img-infografis{
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* video edukasi */
.video-edukasi{
    max-width: 1000px;
    height: auto;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.video-edukasi

/* quiz */
.quiz-container {
    border: solid 1px #fce7f3;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.header-soal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nomor {
    background: #fdf2f8;
    border-radius: 99px;
    padding: 0.5rem 1rem;
}

.nomor h4{
    font-size: 12px;
    font-weight: bold;
    color: #DB2777;
    margin-bottom: 0;
}

.point {
    background: #fefce8;
    border-radius: 99px;
    border: 1px solid #fef08a;
    padding: 0.5rem 1rem;
}

.point h4{
    font-size: 12px;
    font-weight: bold;
    color: #ca8a04;
    margin-bottom: 0;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
}

.options label{
    padding: 1rem 1rem;
    border: 3px solid #f1f5f9;
    border-radius: 10px;
    color: #475569;
    width: 100%;

    text-align: start;
}

.options label:hover {
    background-color: #fdf2f8 !important;
    border-color: #ec4899 !important;
}

.btn-check:checked + .btn {
    background-color: #fdf2f8 !important;
    border-color: #ec4899 !important;
}

.tombol-next button{
    background-color: white;
    border: 2px solid #ec4899;
    color: #ec4899;
}

.tombol-next button:hover{
    background-color: #fdf2f8;
    border: 2px solid #ec4899;
    color: #ec4899;
}

/* result box */
.result-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-block: 2rem;
}

.result-box .trophy-icon{
    background-color: #FFFBEB;
    color: #F59E0B;
    border: 3px solid #FEF3C7;
    border-radius: 99999px;
    padding: 2rem;

    font-size: 2rem;
}

.result-box .trophy-icon .done {
    animation: bounce 1s infinite;

    align-self: center;
}

.congratulation-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ini versi yang ujiannya gagal */
.result-box .trophy-icon-gagal{
    background-color: #FFE4E6;
    color: #ec4899;
    border: 3px solid #FECDD3;
    border-radius: 99999px;
    padding: 2rem;

    font-size: 2rem;
}

.result-box .trophy-icon .fa-circle-xmark {
    animation: bounce 1s infinite;

    align-self: center;
}

.congratulation-wrap-gagal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes bounce {
  0%, 100% {
    /* Pada awal dan akhir animasi, elemen berada di posisi normal */
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    /* Pada titik tengah, elemen 'melompat' kembali ke posisi awal */
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.congratulation-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
footer {
  background-color: white;
  padding: 2rem 2rem;
  text-align: center;
  margin-top: 4rem;
}


/* tambahan responsifitas */
@media screen and (max-width : 768px) {
  .navbar {
    margin: 0px;
    padding: 0.5rem;
  }

  main .main-content {
    padding: 4rem 1.5rem;
    gap: 2rem;
  }

  section .card{
    min-width: 18rem;
    }
    .nav-link {
        max-width: 90px;
        padding: 10px;
        font-size: 12.5px;
    }

    #infografis-tab, #kuis-tab{
        padding-block: 19px;
    }
}

