
/* kontainer parent pembungkus kalkulator */
.contet-wrap{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: space-between;
    justify-items: start;

    width: 80%;
}

/* tombol kembali */
.tombol-kembali a {
    text-decoration: none;
    color: #6b7280;
    font-weight: 500;
}
.tombol-kembali a:hover{
    color: #DB2777;
}

/* styling input card kalkulator */

/* kalkulator wrap positioning */
.kalkulator-wrap{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.kalkulator-input{
    width: 40%;
}

.card-input {
    padding: 2rem;
    border: 2px solid #e2e8f0;
    border-radius: 20px;
    color: #64748b;
}

.card-body-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-title{
    display: flex;
    align-items: center;
}

.input-title i{
    font-size: 20px;
    color: #db2777;
}

.input-title h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #0f172a;
}

/* form input */
.form-control{
    background-color: #f8fafc;
    border-color: #e2e8f0;
    height: 3rem;
}

.form-label {
    color: #64748b;
    text-transform: uppercase;
}

.form-control:focus{
    border: 3px solid #ec4899;
    box-shadow: none;
}

form .btn-submit{
    background-color: #db2777;
    border-color: #db2777;

    width: 100%;
    padding-block: 1rem;
}

form .btn-submit:hover{
    background-color: #ae0f56;
    border-color: #db2777;
}

.label-check {
    background-color: #ffffff;
    border-color: #e2e8f0;
    color: #64748b;
    width: 6rem;
}

.radio-btn{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}


/* kondisi ketika profil risiko di checklist */
#option1:checked + .btn {
    background-color: #d1fae5;
    border-color: #a7f3d0;
    color: #047857;
}

#option2:checked + .btn {
    background-color: #dbeafe;
    border-color: #93c5fd;
    color: #1d4ed8;
}

#option3:checked + .btn {
    background-color: #f3e8ff;
    border-color: #d8b4fe;
    color: #6d28d9;
}