
/* kontainer parent pembungkus kalkulator */
.contet-wrap{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    justify-content: space-between;
    justify-items: start;

    width: 80%;
}

/* tombol kembali */
.tombol-kembali a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
}
.tombol-kembali a:hover{
    color: #DB2777;
}

/* styling input card kalkulator */

/* kalkulator wrap positioning */
.kalkulator-wrap{
    display: flex;

    gap: 2rem;
    justify-content: space-between;
}

.kalkulator-input{
    width: 40%;
}

.card-input {
    padding: 2rem;
    border: 2px solid #e2e8f0;
    border-radius: 20px;
    color: #64748b;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-body-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-title{
    display: flex;
    align-items: center;
}

.input-title i{
    font-size: 20px;
    color: #db2777;
}

.input-title h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #0f172a;
}

/* form input */
.form-control{
    background-color: #f8fafc;
    border-color: #e2e8f0;
    height: 3rem;
}

.form-label {
    color: #64748b;
    text-transform: uppercase;
}

.form-control:focus{
    border: 3px solid #ec4899;
    box-shadow: none;
}

form .btn-submit{
    background-color: #db2777;
    border-color: #db2777;

    width: 100%;
    padding-block: 1rem;
}

form .btn-submit:hover{
    background-color: #ae0f56;
    border-color: #db2777;
}

.btn-submit i{
    margin-right: 0.5rem;
}

.label-check {
    background-color: #ffffff;
    border-color: #e2e8f0;
    color: #64748b;
    width: 6rem;
}

.radio-btn{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}


/* kondisi ketika profil risiko di checklist */
#option1:checked + .btn {
    background-color: #d1fae5;
    border-color: #a7f3d0;
    color: #047857;
}

#option2:checked + .btn {
    background-color: #dbeafe;
    border-color: #93c5fd;
    color: #1d4ed8;
}

#option3:checked + .btn {
    background-color: #f3e8ff;
    border-color: #d8b4fe;
    color: #6d28d9;
}


/* kalkulator insight */
.kalkulator-insight{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    min-width: 60%;
}
.card-insight {
    border-radius: 20px;
    border: none;

    color: white;

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-body-insight{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    background-color: #10b981;
    border-radius: 20px;

    padding: 2rem;
}

.head-insight{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.detail{
    display: flex;
    flex-direction: column;
}

.head-insight .detail h4{
    opacity: 60%;
    font-size: 1rem;
}

.head-insight .detail h2{
    font-weight: bolder;
    font-size: 2.5rem;
}

.head-insight .detail .sum{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 99px;
    padding: 10px;

    width: fit-content;
}

.head-insight .detail .sum h5{
    margin-bottom: 0;
    font-size: 1rem;

}

.icon i{
    font-size: 8rem;
    opacity: 30%;
    align-content: end;
    margin-right: 0;
}

.desc-insight  {
    padding-block-start: 2rem;
    padding-block-end: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* rekomendasi */
.card-recomendation {
    border: 2px solid #f1f5f9;
    border-radius: 20px;

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.aset-recomendation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.head-recomendation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

/* rekomendasi title */
.title-recomendation {
    display: flex;
    gap: 1rem;
}
.title-recomendation i{
    font-size: 20px;
    color: #db2777;
}

.title-recomendation h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #0f172a;
}

.card-aset-recomendation {
    background-color: #f8fafc;
    border: 1px solid #f1f5f9;
    border-radius: 20px;

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-aset-recomendation:hover{
    border-color: #fbcfe8;
}

.card-body-aset-recomendation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.persentage-recomendation {
    background-color: #475569;
    color: white;

    width: fit-content;
    padding: 8px;

    border-radius: 10px;
}

.persentage-recomendation h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}

.product-recomendation h2{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.product-recomendation p {
    color: #64748b;
    font-size: 0.8rem;
}

.location-recomendation {
    display: flex;
    gap: 1rem;
}

.location-recomendation .location-loc {
    background-color: white;
    border: 1px solid #e6e6e6;
    padding-inline: 8px;
    border-radius: 5px;

    font-size: 0.8rem;
}

.nominal{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;

    margin-right: 0;
}

.nominal h3{
    margin-bottom: 0;
    color: #64748b;

    font-size: 1rem;
}

.nominal h2{
    margin-top: 0;
    margin-bottom: 0;

    color: #db2777;
    font-weight: bolder;
    font-size: 1.5rem;
}


@media screen and (max-width : 768px) {
    .kalkulator-wrap {
        flex-wrap: wrap;
    }

    .kalkulator-input{
        width: 100%;
    }

    .contet-wrap {
        width: 100%;
        gap: 2rem;
    }

    .card-input {
        padding: 1rem;
    }

    .label-check {
        width: 5rem;
    }

    .kalkulator-insight {
        width: 100%;
    }

    .card-aset-recomendation .card-body-aset-recomendation h3 {
        font-size: 10px !important;
    }

    .card-aset-recomendation .card-body-aset-recomendation .product .persentage-recomendation h4 {
        font-size: 10px !important;
    }

    .location-recomendation {
        gap: 0.4rem;
    }

    .product-recomendation p {
        margin-bottom: 0;
    }

    .card-body-aset-recomendation {
        gap: 1rem;
    }

    .product {
        width: 60%;
    }

    .nominal {
        flex: 1 1;
    }

    #finance-clasification {
        font-size: 26px;
    }

    .head-insight .icon i {
        font-size: 6rem;
    }

    .sum #operation{
        font-size: 12px;
    }

    .detail h4{
        font-size: 12px !important;
    }

    .head-insight {
        gap: 0;
    }
}